$color:#e61e41;

#hot-goods {
  .title {
    background: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: $color;
    font-size: 18px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    .hot-goods-item {
      width: calc(((1 / 2) * 100%) - 1px);
      margin-right: 1px;
      text-align: center;
      margin-top: 1px;
      background: #fff;
      padding-bottom: 10px;
      overflow: hidden;
      .hot-goods-img { width: 90% }
    }
    .name {
      text-align: left;
      font-size: 13px;
      line-height: 18px;
      margin: 8px 10px 10px;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .price {
      text-align: left;
      color: $color;
      margin: 0 10px 5px;
      font-size: 14px;
      .code {
        font-size: 12px;
      }
      .mall-price {
        color: $color;
        font-weight: 700;
      }
      .min-price {
        text-decoration: line-through;
        color: #999;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}